
@{
    ViewBag.Title = "Danh sách sinh viên";
}


<main class="container mt-5">
    
</main>

@section JS{
        <script>
            const removeStudent = (idStudent) => {
                if (confirm("Are u sure to xóa?") == true) {
                    location.href = '/Student/RemoveStudent?idStudent=' + idStudent;
                }
            } 
        </script>
    }